.icon {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    background-color:rgb(131, 248, 248);
    padding: 20px;
}
p {
    text-align: center;
}
.text__style {
    background-color: aliceblue;
    box-shadow: 5px 5px 10px 1px #000000;
    padding: 20px;
    margin: 40px;
}
